#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


video{
 max-width: 100%!important;
 max-height: 100%!important;
}


ion-col.center-any{
  display: flex;
  justify-content: center;
}

ion-toolbar{
  --ion-background-color: #e0aa23;
}

ion-tab-bar{
  --ion-background-color: #e0aa23;
}


.dot {
  height: 1vh;
  width: 1vh;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}


.passed{
  text-decoration:line-through;
  color: red;
}


h2 {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	margin: 10px 0 20px;
 }

 h2 span {
	 background:#ffffff;
	 padding:0 10px;

 }
